.img1{

width: 50px;
height: 50px;


}
.a1{

align: right;


}
.img2{

margin-right: 600px;
margin-left: 600px;
width: 500px;
height: 300px;
position: relative;
bottom: 60px;
}
.v1{


}